body {
  font-size:14px;
}
.error{
  display: block;
}

.activeDroppable {
  background-color: #eeffee;
}
.hoverDroppable {
  background-color: lightgreen;
}
.well{
  margin-right: 5px;
}

.span10{
  float:right;
  width:85%;
}

#redirect{
  margin-top: 10px;
}

.fields{
  width:90%;
}

#form-title{
  width:90%;
}

#form_save{
  float:right;
  margin-right:200px;
}

.draggableField > input,select, button, .checkboxgroup, .selectmultiple, .radiogroup {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.draggableField:hover{
  background-color: #ccffcc;
}

.bg-image{
  background-size: 100%;
}

.selectorField .textbox b, .selectorField .password b,.selectorField .phone b, .selectorField .email b, .selectorField .combobox b, .selectorField .radiogroup b, .selectorField .checkboxgroup b, .selectorField .selectmultiple b,
.selectorField .displaydate b, .selectorField .displaytext b, .selectorField .displayaddress b {
  position:relative; top:3px; left: 0px; width: 18px; height: 16px; display: inline-block; background-image: url("../images/sprite.png"); background-repeat: no-repeat; 
}
.selectorField .textbox b, .selectorField .password b, .selectorField .displaytext b, .selectorField .displayaddress b {
  background-position: -10px -549px;
}

.selectorField .email b{
  background-position: -10px -372px;
}

.selectorField .phone b{
  background-position: -10px -864px;
}


.selectorField .combobox b {
  background-position: -10px -722px;
}
.selectorField .radiogroup b {
  background-position: -10px -619px;
}
.selectorField .checkboxgroup b {
  background-position: -10px -688px;
}
.selectorField .selectmultiple b {
  background-position: -10px -1082px;
}
.selectorField .displaydate b {
  background-position: -10px -975px;
}

.well-mini {
  margin: 4px;
  padding: 2px;
  border-radius: 6px;
  width: 160px;
  cursor: pointer;
}
.draggableField:hover .well-mini {
  background-color: #ccffcc;
}
.model {
  display:none;
}

col {
    width:200px;
}

.navbar ul.nav li {
    margin-left: 1000px;
}

.navbar{
  background-color: black;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: blue;
}

.loadImage {
  background:url("../images/load.gif") no-repeat center center;
  height: 100px;
  width: 100px;
  position: fixed;
  left: 10%;
  top: 10%;
  margin: -25px 0 0 -25px;
  z-index: 5000;
}

<style id="content-styles">
    /* Styles that are also copied for Preview */
  body {
    margin: 10px 0 0 10px;
  }
  .control-label {
    display: inline-block !important;
    padding-top: 5px;
    vertical-align: baseline;
    padding-right: 10px;
  }
  .droppedField {
    padding-left:5px;
  }
  .droppedField > input,select, button, .checkboxgroup, .selectmultiple, .radiogroup {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .action-bar .droppedField {
    float: left;
    padding-left:25px;
    padding-bottom: 25px;
    padding-right:25px;
    padding-top: 25px;
  }
</style>

