
  <link href="/demo_app/css/form_list.css" rel="stylesheet" media="screen" >
   <script type="text/javascript" src="/demo_app/js/form_list.js"></script>

  <body>
    <ul class="nav nav-list">
      <li>
        <% if admin? %>
          <a href="/forms/new" role="button" class="btn ctrl-btn btn-primary" id="new_form">New form</a>
        <% end %>  
        <h3>Forms list</h3>
        <br/>
         <table class="table table-hover">
            <% @forms.each do |p|  %>
              <tr>
                <td style="width:80%">
                  <a href=<%="/forms/#{p['sId']}"%>> &nbsp;&nbsp;&nbsp; <%= p["title"] %> </a>
                </td>
                <% if admin? %>
                <td>  <button class="btn ctrl-btn btn-default response" f-id="<%= p['sId'] %>">Response</button> </td>
                 <td>  <button class="btn btn-danger ctrl-btn delete" f-id="<%= p['sId'] %>">Delete</button> </td>
                <% end %>  
              </tr>  
            <% end %>  
        </table>
      </li>
    </ul>
  </body>