<div class="container">
  <form class="form-signin" id="signup" role="form" action="/signup"  method="post">
    <h2 class="form-signin-heading">Please sign Up</h2>
    <input class="form-control" placeholder="Email address" required="" autofocus="" type="email" name="email" data-rule-required="true" data-rule-email="true" data-msg-required="Please enter your email address" data-msg-email="Please enter a valid email address" >
    <br/>
    <input class="form-control" placeholder="Password" required="" type="password" name="password"  id="password">
    <input class="form-control" placeholder="Confirm Password" required="" type="password" name="checkpassword" id="checkpassword" >
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
</div>
